@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

* {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  display: none;
}

.title {
  font-family: 'Tagesschrift', system-ui;
  font-weight: bold;
  color: #b33100;
}

/* Cỏ ở đáy section */
.section-home::after {
  content: '';
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 100%;
  height: 110px;
  background: url('../src/assets/grass.svg') repeat-x;
  background-size: contain;
  pointer-events: none;
}

/* Car chạy ngang */
.car__left {
  position: absolute;
  bottom: -2.3rem;
  left: -10px;
  width: 300px;
  height: 150px;
  background: url('../src/assets/car.svg') no-repeat center/contain;
  animation: carMoveLeft 25s linear infinite;
}

/* Đèn pha của xe */
.car__left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 70%;
  width: 500px;
  height: 300px;
  transform: translateY(-60%) rotate(-10deg);

  background: linear-gradient(
    to right,
    rgba(255, 255, 180, 0.7) 0%,
    rgba(255, 255, 150, 0.3) 40%,
    rgba(255, 255, 120, 0) 100%
  );

  clip-path: polygon(0% 48%, 100% 20%, 100% 80%, 0% 52%);
  filter: blur(10px);
  pointer-events: none;
}

/* ===============================
   8. ANIMATIONS
=================================*/
@keyframes carMoveLeft {
  0% {
    left: -150px;
  }
  100% {
    left: 100vw;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
